.outerDiv {
    padding: 15px;
    border: 1px solid gray;
}

.selectTipo{
    margin-left: 151px;
}

.botaoSalvar{
    padding: 0px;
    border: 1px solid gray;
    margin-left: 21px;
}

.form{
    text-align: center;
    border-bottom: 1px solid gray;
}